<section class="banner-area">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-lg-6 col-md-6">
                        <div class="banner-block">
                            <a href="#"> <img src="/client-side/images/banner-sunglasses.jpg" alt="banner sunglasses"> </a>
                            <div class="text-des-container">
                                <div class="text-des">
                                    <h2>Sách nước ngoài</h2>
                                    <p>Tất cả giảm giá đến 25%!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-lg-6 col-md-6">
                        <div class="banner-block">
                            <a href="#"> <img src="/client-side/images/banner-kids.jpg" alt="banner kids"> </a>
                            <div class="text-des-container">
                                <div class="text-des">
                                    <h2>Sách thiếu nhi</h2>
                                    <p>Sách dành cho trẻ nhỏ</p>
                                </div>
                            </div>
                        </div>
                        <div class="banner-block">
                            <a href="#"> <img src="/client-side/images/banner-women.jpg" alt="banner women"> </a>
                            <div class="text-des-container">
                                <div class="text-des">
                                    <h2>Giá ưu đãi</h2>
                                    <p>Tất cả loại sách văn học</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-lg-4 col-md-4">
                <div class="banner-block">
                    <a href="#"> <img src="/client-side/images/banner-arrival.jpg" alt="banner arrival"> </a>
                    <div class="text-des-container">
                        <div class="text-des">
                            <h2>Bộ sưu tập</h2>
                            <p>Giảm giá đến 50%</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
